.App {
  margin: 7em auto;
  color: rgb(53, 33, 8);
  font-family: "Gill Sans", sans-serif;
}

.quote-wrapper {
  height: 200px;
  margin: 0 100px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 25px;
}

button {
  font-size: medium;
  background-color: rgb(53, 33, 8);
  color: white;
  border: none;
  border-radius: 3px;
  float: right;
  margin: 30px 100px;
  padding: 10px 30px;
}
